.logo {
	border-radius: 50%;
}

a {
	color: #fff;
	text-decoration: none;
	align-items: center;
}

.t {
	color: white;
}

.header{
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background: #689CD2;
	color: #fff;
}

.header_section {
	display: flex;
	align-items: center;
}

.header_item {
	padding: 10px 15px;
	font-size: 20px;
	margin-left: 100px;
}

.header_item:hover{
	background-color: #FF9900;
	border-radius: 4px;
}

.headerButton {
	cursor: pointer;
}

body {
    background-image: img/fon.jpg;
    background-attachment: fixed;
	image-repeat: no-repeat;
}


.portfolio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  .portfolio{
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
  }
}


.table{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

@media only screen and (max-width: 1000px) {
  .table{
    display: flex;
    flex-direction: column;
	justify-content: space-around;
	align-items: center;
  }
}

.translate {
	background: transparent;
	border: none;
	margin-left: 12px;
}